<div class="card mx-auto" style="width: 50%;">
  <div class="card-header text-center"> SignUp </div>
  <div class="card-body">
    <form [formGroup]="login" (ngSubmit)="onsubmit(login)">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" formControlName="name" placeholder="Enter Full Name">
        <div *ngIf="login.controls['name']?.['touched'] && login.controls['name']?.['errors']"
          class="text-danger font-weight-bold"> <!--Method 1-->
          <div *ngIf="login.controls['name']?.['errors']?.['required']">
            Name Required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" formControlName="email" placeholder="Enter email">
        <div *ngIf="f['email']?.['touched'] && f['email']?.['errors']" 
          class="text-danger font-weight-bold">   <!--Method 2-->
          <div *ngIf="f['email']?.['errors']?.['required']">
            Email Required
          </div>
          <div *ngIf="f['email']?.['errors']?.['email']">
            Inavlid Email
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" formControlName="password" minlength="5"
          placeholder="Enter Password">
        <div *ngIf="getC('password')?.['touched'] && getE('password')" 
          class="text-danger font-weight-bold">  <!--Method 3-->
          <div *ngIf="getE('password')?.['required']">
            Password Required
          </div>
          <div *ngIf="getE('password')?.['minlength']">
            Must Contain 5 Letters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="Confirmpassword">Confirm Password</label>
        <input type="password" class="form-control" name="Confirmpassword" formControlName="Confirmpassword"
          placeholder="Confirm Password">
        <div *ngIf="getC('Confirmpassword')?.['touched']" class="text-danger font-weight-bold">
          <div *ngIf="getE('Confirmpassword')?.['required']">
            Password Required
          </div>
          <div *ngIf="f['password']?.['value'] != login.controls['Confirmpassword']?.['value']" class="errormsg">
            Password Not Matched
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="login.invalid">Submit</button>
    </form>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6 text-center">
      Name: {{login.value.name}}
    </div>
    <div class="col-6 text-center">
      Mail: {{login.value.email}}
    </div>
  </div>
</div>